# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

* Popular languages used in Data Science
* Commonly used libraries
* Data Science Tool table
* Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. MATLAB
5. SAS

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

| Data Science Tools |
| ------------------ |
| Python             |
| R                  |
| Julia              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
(20+5)*4

100

In [7]:
130+67

197

In [8]:
(925/5)*7

1295.0

This a simple arithmetic expression to mutiply then add integers:

In [9]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [10]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Uzma Zaffar